html {
    font-size: 14px;
}

body {
    background-color: rgb(255, 255, 255);
    align-content: center;
}

#main-container {
    width: 100vw;
}


#initial-content {
    position: fixed;    
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

#the-emoticon {
    font-size: 4rem;
}

h1 {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7rem;
    color: #2b2b2b;
}

p {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .7rem;
    color: #2b2b2b;
    
}



@media (min-width: 576px){
    html {
        font-size: 18px;
    }
}

@media (min-width:768px){
    html {
        font-size: 26px;
    }
}

@media (min-width:992px){
    html {
        font-size: 35px;
    }
}
@media (min-width:1200px){
    html {
        font-size: 44px;
    }
}


#projects {
    background-color: rgba(255, 0, 0, 0.173);
    margin-top: 400px;
}

#main-container .links {
    top: 13rem;
    text-align: center;
    margin: auto;
    margin-top: 9rem;
}

.scroll-container {
    position: relative;
    top: 100vh;
    width: 100vw;
    height: 300vw;
    background-color: #FFDA30;
    z-index: 10;
}
